version: '2'

services:
    web:
        image: nginx:latest
        container_name: nginx-stubb
        ports:
            - "8001:80"
        volumes:
            - ./app:/src
            - ./env-config/site.conf:/etc/nginx/conf.d/default.conf
    php:      
        build: ./env-config/php/    
        container_name: php-stubb           
        volumes:
            - ./app:/src
            - ./env-config/php/log.conf:/usr/local/etc/php-fpm.d/zz-log.conf          
            - ./env-config/php/php.ini:/usr/local/etc/php/php.ini        
    composer:
        container_name: composer-stubb
        image: composer/composer
        volumes_from: 
            - php
        working_dir: /src
    postgresql:
        image: postgres
        container_name: postgres-stubb
        ports:
            - "5432:5432"       
        environment:         
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=d4REn0LdCH4B
        volumes:
            - ./env-config/postgres.conf:/etc/postgresql.conf
            - /srv/docker/postgresql:/var/lib/postgresql    
        command: postgres -c config_file=/etc/postgresql.conf
        restart: always
    pgadmin: 
        image: fenglc/pgadmin4
        container_name: pgadmin-stubb
        links:
            - "postgresql:postgres"
        ports:
            - "5050:5050"
    elasticsearch:
        image: elasticsearch
        container_name: elastic-stubb
        ports:
        - 9201:9200
        - 9301:9300
        volumes:
        - ./esdata/:/usr/share/elasticsearch/data/
    kibana:
        image: kibana
        container_name: kibana-stubb
        ports:
        - 5602:5601
        environment:
        - ELASTICSEARCH_URL=http://elasticsearch:9200
        
