$green_1: #b4db34; // TODO: import from main css

#homepage {

    textarea {
        $initialHeight: 115px;
        $border: none !important;
        $tHeight: height .4s ease;
        
        border: none !important;
        -webkit-box-shadow: $border;
        -moz-box-shadow: $border;
        -o-box-shadow: $border;
        box-shadow: $border; 
        
        height: $initialHeight;
        min-height: $initialHeight;
        
        -webkit-transition: $tHeight;
        -moz-transition: $tHeight;
        -ms-transition: $tHeight;
        -o-transition: $tHeight;
        transition: $tHeight;
        
        overflow: hidden;
    }

    /**
     * Form 
     */
    .new-card {
        padding-bottom: 10px;
    }
    
    .order-by{
        label {
            vertical-align: middle;
            input {
                vertical-align: middle;
                margin: 0;
            }
        }
    }
    
    /**
     * List 
     */
    .card {
        $tTime: 0.4s;
        -webkit-transition: $tTime;
        -moz-transition: $tTime;
        -o-transition: $tTime;
        transition: $tTime;   
        
        position: relative;
    }
    
    .card .panel {        
        border-left: 4px solid $green_1;
        
        .panel-body {
       
            .card-content{
                white-space: pre-line;
            }
            
            .show-more-widget {
                cursor: pointer;
                
                a.arrow {
                    color: #777;
                    font-size: 20px;
                    right: 20px;
                    position: relative;
                }
            }
        }
        
        .panel-footer {
            padding: 0;
            
            ul {
               margin: 0 30px; 
            }
            li {
                list-style-type: none;
                display: inline;
                padding: 0 3px;
                a {
                    color: #5bc0de;
                }
                a:hover {
                    color: #337AB7;
                    text-decoration: none;
                }
            }
        }
    }
    
    .card .tools {
        white-space: normal;
        opacity: 0;
        visibility: hidden;
        
        
        button {          
            color: #777;
            border: none;
            padding: 6px;
            background: none;
        }
        
        button:hover {          
            color: #222;
            background: none;
        }
    }
    
    .card:hover .tools {
        
        opacity: 1;
        visibility: visible;
        margin-top: 10px;
        padding: 0;
        
        $tTime: .5s;
        -webkit-transition: opacity $tTime ease-out, visibility $tTime;
        -moz-transition: opacity $tTime ease-out, visibility $tTime;
        -o-transition: opacity $tTime ease-out, visibility $tTime;
        transition: opacity $tTime ease-out, visibility $tTime;
    }
       
    .no-results {
        background: #5bc0de;
        border-color: #5bc0de;
        color: white;
    }
    
    .card .highlighted {
        $bg_start: #d3e49b;
        $bg_stop: #e0f0aa;
        
        background: $bg_start;
        background: -webkit-linear-gradient(left, $bg_start, $bg_stop);
        background: -moz-linear-gradient(left, $bg_start, $bg_stop);
        background: -o-linear-gradient(left, $bg_start, $bg_stop);
        background: linear-gradient(left, $bg_start, $bg_stop);
    }

    .card.ng-enter.ng-enter-active,
    .card.ng-leave {
        opacity: 1;   
        height: 100px;
    }

    .card.ng-leave.ng-leave-active,
    .card.ng-enter {
        opacity: 0;
        height: 0;
    }
    
    .panel.stack-list{
        .list-group-item {
            height: 40px;
            line-height: 20px;
        }
        a {
        }
        ul.participants {
            li {
                list-style-type: none;
                float: right;
                margin: 2px;
                font-size: 10px;
                img {
                    width: 16px;
                }
            }
        }
    }
    
    /**
    * Sidebar
    */
    
    .list-group-item {
        padding: 10px 0px;
    }
}

/**
* Modals
*/
#edit-card-modal textarea {
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;

    &:hover {
        border: none;
        box-shadow: none;
    }
}

#edit-card-modal .modal-header input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 15px;
    font-size: 20px;
}