$font_1: "Montserrat", sans-serif; 
$font_2: 'Lato', sans-serif;

$green_1: #b4db34;
$green_2: #86a826;
$green_3: #719e40;
$green_4: #788b3a;

$blue_1: #337ab7;
$blue_2: #2e6da4;
$light_blue_1: #46b8da;
$light_blue_2: #269abc;

$light_gray: #777;

body {
    font-family: $font_1;
    line-height: 1.8;
}

@mixin green-gradient-2cols {
    background: $green_3;
    background: -webkit-linear-gradient(left, $green_1, $green_2);
    background: -moz-linear-gradient(left, $green_1, $green_2);
    background: -o-linear-gradient(left, $green_1, $green_2);
    background: linear-gradient(left, $green_1, $green_2);
}

@mixin green-gradient-3cols {
    background: $green_3;
    background: -webkit-linear-gradient(left, $green_1, $green_2, $green_3);
    background: -moz-linear-gradient(left, $green_1, $green_2, $green_3);
    background: -o-linear-gradient(left, $green_1, $green_2, $green_3);
    background: linear-gradient(left, $green_1, $green_2, $green_3);
}

@mixin scale ($scale: 1.01) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
}

@mixin box-shadow ($border: none) { 
    -webkit-box-shadow: $border;
    -moz-box-shadow: $border;
    -o-box-shadow: $border;
    box-shadow: $border;
}

@mixin transition($transition: 1s) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

header h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: $font_2;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
    
    @include green-gradient-3cols;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {font-size: 16px;}

header {
    margin-bottom: 20px;
}

.margin-bottom-xs {margin-bottom: 5px;}  
.margin-bottom-sm {margin-bottom: 10px;} 
.margin-bottom-md {margin-bottom: 15px;}
.margin-bottom-lg {margin-bottom: 20px;}

@mixin with-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
}

.with-shadow {
    @include with-shadow;
}

.cast-shadow {
    $tBgColor: .3s;
    $tColor: .15s;
    $tShadow: .3s;
    $tOpacity: .3s;
    $tScale: .1s;
    
    $transition: background-color $tBgColor,color $tColor,box-shadow $tShadow,opacity $tOpacity,scale $tScale;
    @include transition($transition);
}

.cast-shadow:hover{
    $scale: 1.01;
    transform: scale($scale);
    -moz-transform: scale($scale);
    -webkit-transform: scale($scale);
    -o-transform: scale($scale);
    @include with-shadow;
}

em, .hash {
    color: orange;
}

.profile-area {
    padding-right: 0;
    padding-left: 0;
}

/** 
* Forms
*/
form {
    .input-group {
        margin-bottom: 8px;
    }
    .v-separator {
        width: 20px;
        display: inline-block;
    }
}

textarea {
  resize: none;
}

header {
    
    .session-dropdown {
        h4 {
            margin: 5px 0;
        }
        
        .navbar-login
        {
            width: 305px;
            padding: 10px;
            padding-bottom: 0px;
        }

        .navbar-login-session
        {
            padding: 10px;
            padding-bottom: 0px;
            padding-top: 0px;


        }
        
        button.dropdown-toggle {
            border: none;
            margin: 10px 0;
            color: $light_gray;
            
            .glyphicon-user {
                top: 0;
            }
            .glyphicon-chevron-down {
                top: 2px;
            }
        }

        .icon-size
        {
            font-size: 87px;
        }
    }
}

/**
* Panels
*/
.panel {    
    .no-padding{
        padding: 0;
    }
    .shadowed {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    }
    a {
        color: $light_blue_1;
        text-decoration: none;
    }
    a:hover {
        color: $light_blue_2;
        @include scale;
    }
}
.panel.no-border {
    border: none;
    @include box-shadow(none);
}
.panel.no-border > .panel-heading {
    border: 1px solid #dddddd;
    border-radius: 0;
}

/**
* Text highlighting
*/
a.green {
    color: $green_3 !important;
}
a.hashtag {
    color: $green_3;
    cursor: pointer;
}

a.hashtag:hover {
    text-decoration: underline;
}

span.highlight-text {
    color: $green_3;
}

/**
* Modals 
*/
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0); // IE9 only
        transform: translate(0, 0);
}

.fade-scale {
  transform: scale(0.4);
  opacity: 0;
  $transition: all .25s linear;
  @include transition($transition);
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.modal {    
    .modal-dialog {
        width: 800px;
    }
}
.modal-backdrop{
    background: #140d32;
}
.modal.markdown {
    
    .modal-dialog {
        width: 100%;
        .modal-content {
            background: url("/img/bg.jpg") repeat repeat;
        }
    }
    .modal-header {
        
        max-width: 1024px;
        margin: 0 auto;
        border-color: #b2cc3a;
        background: white; 
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        
        h4 {
            font-size: 38px;
        }
        
        button {
            font-size: 50px;
        }
    }
    .modal-body {
        
        max-width: 1024px;
        margin: 0 auto;
        background: white; 
        border: 1px solid #ddd;
    }
    .modal-footer {
        
        max-width: 1024px;
        margin: 0 auto;
    }
}

/**
* Button Icons
*/
.btn-icon {      
    color: $light_gray;
    border: none;
    @include box-shadow(none);
    background: none;
    padding: 6px;
    
    &:hover {       
        background: none;
        
        .glyphicon {
            color: #222;
        }
    }
}
.btn-icon:active, .btn-icon:focus, 
.btn-icon:active:focus, .btn-icon.active:focus {
    $border: none !important;
    outline: $border;
    border: $border;
    @include box-shadow($border);
}

/**
* Pagination
*/
.pagination {
    display: table;
    width: 100%;
    list-style: none;
}
.pagination li {
    display: table-cell;
    text-align: center;
}
.pagination li a {
    display: block;
    cursor: pointer;
}
.pagination li a[disabled] {
    $shadow: none !important;
    @include box-shadow($shadow);
    color: $light_gray;
    cursor: initial;
}
.pagination li.current-page {
    vertical-align: middle;
    span {
        float: none;
        border: none;
        color: #999;
    }
}
.pagination {
    margin-top: 0;
    list-style-type: none;
    width: 100%;
}