$font_1: "Montserrat", sans-serif; 
$font_2: 'Lato', sans-serif;

$green_1: #b4db34;
$green_2: #86a826;
$green_3: #719e40;

body {
    font-family: $font_1;
    line-height: 1.8;
}

@mixin green-gradient-2cols {
    background: $green_3;
    background: -webkit-linear-gradient(left, $green_1, $green_2);
    background: -moz-linear-gradient(left, $green_1, $green_2);
    background: -o-linear-gradient(left, $green_1, $green_2);
    background: linear-gradient(left, $green_1, $green_2);
}

@mixin green-gradient-3cols {
    background: $green_3;
    background: -webkit-linear-gradient(left, $green_1, $green_2, $green_3);
    background: -moz-linear-gradient(left, $green_1, $green_2, $green_3);
    background: -o-linear-gradient(left, $green_1, $green_2, $green_3);
    background: linear-gradient(left, $green_1, $green_2, $green_3);
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: $font_2;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
    
    @include green-gradient-3cols;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {font-size: 16px;}

header {
    margin-bottom: 20px;
}

.margin-bottom-xs {margin-bottom: 5px;}  
.margin-bottom-sm {margin-bottom: 10px;} 
.margin-bottom-md {margin-bottom: 15px;}
.margin-bottom-lg {margin-bottom: 20px;}

button, .cast-shadow {
    $tBgColor: .3s;
    $tColor: .15s;
    $tShadow: .3s;
    $tOpacity: .3s;
    $tScale: .1s;
    
    -webkit-transition: background-color $tBgColor,color $tColor,box-shadow $tShadow,opacity $tOpacity,scale $tScale;
    -moz-transition: background-color $tBgColor,color $tColor,box-shadow $tShadow,opacity $tOpacity,scale $tScale;
    -o-transition: background-color $tBgColor,color $tColor,box-shadow $tShadow,opacity $tOpacity,scale $tScale;
    transition: background-color $tBgColor,color $tColor,box-shadow $tShadow,opacity $tOpacity,scale $tScale;
}

button:hover, .cast-shadow:hover{
    $scale: 1.01;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale($scale);
    -moz-transform: scale($scale);
    -webkit-transform: scale($scale);
    -o-transform: scale($scale);
}

em, .hash {
    color: orange;
}

kbd {
    @include green-gradient-2cols;
    box-shadow: none;
}

// forms
form {
    .input-group {
        margin-bottom: 8px;
    }
    .v-separator {
        width: 20px;
        display: inline-block;
    }
}

header {
    .navbar-login
    {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navbar-login-session
    {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .icon-size
    {
        font-size: 87px;
    }
}
