body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}
h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}
p {font-size: 16px;}

header{
    margin-bottom: 20px;
}

textarea {
    border: none !important;
    height: 180px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.margin-bottom-xs {margin-bottom: 5px;}  
.margin-bottom-sm {margin-bottom: 10px;} 
.margin-bottom-md {margin-bottom: 15px;}
.margin-bottom-lg {margin-bottom: 20px;}

.new-card {
    padding-bottom: 10px;
}
.panel, button, textarea, .drops-shadow {
    -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,scale 0.1s;
    -moz-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,scale 0.1s;
    -o-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,scale 0.1s;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,scale 0.1s;
}

.panel:hover, button.drops-shadow:hover, .pagination:hover, .drops-shadow:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
}

em, .hash {
    color: orange;
}

form .input-group {
    margin-bottom: 8px;
}

.card {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.card.ng-enter.ng-enter-active,
.card.ng-leave {
    opacity: 1;   
    height: 100px;
}

.card.ng-leave.ng-leave-active,
.card.ng-enter {
    opacity: 0;
    height: 0;
}

